@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: 'Nunito';
  background-color: #FFFF;
  letter-spacing: 1.5px;
  margin: 0.2rem 0.5rem;
}

.navbar, .links {
  background-color: #FFFF;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

a, .logo {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 1.8rem;
}

a {
  font-size: 1rem;
}

.links {
  margin-top: 16px;
}

.search-bar {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

form {
  height: 1rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}

form:hover input {
  width: 9rem;
}

form input {
  width: 0;
  background: transparent;
  transition: 0.8s;
}

img {
  height: 1.3rem;
  width: 1.3rem;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: #949494;
  margin-bottom: 100px;
}