@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: 'Nunito';
  background-color: #F7F8F9;
  letter-spacing: 1.5px;
}

.header, .logo, .search-bar, .form, .form:hover input, .form input, img, a {
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  padding: 0 2.8rem;
}

.logo {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
}

.search-bar {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

form {
  height: 1.3rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}

form:hover input {
  width: 11rem;
}

form input {
  width: 0;
  transition: 0.8s;
}

img {
  height: 1.3rem;
  width: 1.3rem;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  margin-bottom: 100px;
}
