
@font-face {
  font-family: 'InterVariable';
  src: url('../../fonts/InterVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'InterVariable';
  background-color: #f7f8f9;
  color: #181818;
  letter-spacing: 1.5px;
}

.header, .logo, .search-bar, .form, .form:hover input, .form input, img, a {
  background-color: #fdfcfe;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  padding: 0 2.8rem;
  margin-bottom: 1rem;
}

.logo {
  text-decoration: none;
  color: #181818;
  cursor: pointer;
  font-family: 'Inter-Bold';
  font-size: 1.6rem;
}

.search-bar {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

form {
  height: 1.3rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}

form:hover input {
  width: 11rem;
}

form input {
  width: 0;
  transition: 0.8s;
}

img {
  height: 1.3rem;
  width: 1.3rem;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  margin-bottom: 100px;
}