ul, .text, .source, .date, .summary, .read-more-btn, .btn-wrap, h2, 
.article-container, .article-container-without-img, .btn-container,
.top-section, .img-container, .link-icon, .expand-container, 
.media, .media-container, image, .share-btn, .share-icon, font {
  background-color: #fdfcfe;
}

.article-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1.3rem;
  margin-bottom: 3rem;
  padding: 3rem 2rem;
  box-shadow: 0 0 0.4rem rgba(210, 206, 206, 0.5);
  cursor: pointer;

}

.preview {
  display: flex;
  background-color: #fdfcfe;
  justify-content: flex-start;
}

.article-img {
  width: 21rem;
  height: 15rem;
  margin-right: 0.8rem;
  border-radius: 1rem;
  object-fit: cover;
  flex-shrink: 0;
}

.article-img-no-img {
  display: none;
}

.article-title {
  font-size: 1.8rem;
  font-family: 'Inter-Bold';
  line-height: 2.8rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-align: left;
}

.source, .date {
  font-size: 1rem;
  color: #404040;
}

.source {
  margin-bottom: -0.5rem;
}

.date {
  margin-top: -0.6rem;
  margin-bottom: 0.5rem;
}

.summary, .read-more {
  color: #6b6b6b;
  line-height: 1.4rem;
}

.read-more {
  border-style: none;
  color: #404040;
  font-size: 1rem;
  text-decoration: none;
  padding: 0;
}

.expand-container {
  max-height: 0;
}

.expand-container.show-more {
  max-height: 35rem; 
  margin-top: 1.3rem;  
}

.media-wrapper {
  display: flex;
  justify-content: center;
  background-color: #fdfcfe;
}

.react-player {
  background-color: #fdfcfe;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-top: 0.8rem;
}

.link-icon, .share-icon {
  height: 1.1rem;
  cursor: pointer;
}


