.text, .source, .date, .summary, .read-more-btn, .btn-wrap, h2 {
  background-color: white;
}

.article-container{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  margin: 2.5rem 15.6rem;
  margin-bottom: 3rem;
  height: 27rem;
  padding: 0 2rem;
  border-radius: 1.3rem;
}

.article-img {
  width: 22rem;
  height: 17rem;
  border-radius: 1.3rem;
  object-fit: cover;
}

.article-title {
  font-size: 2rem;
  line-height: 3.2rem;
}


.text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: left;
  margin-left: 2rem;
}

.source, .date, .summary {
  font-size: 1rem;
}

.source {
  margin-bottom: -0.5rem;
}

.date {
  margin-top: -0.5rem;
}

.read-more-btn {
  height: 2.5rem;
  width: 11rem;
  border-width: 0.05rem;
  border-radius: 25px;
  font-size: 0.9rem;
}


