body {
  width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: 'InterVariable';
  src: url('./fonts/InterVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: 'InterVariable';
  background-color: #fdfcfe;
  color: #181818;
  letter-spacing: 1.5px;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.article-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  padding: 3rem 6rem;
  margin-top: 7rem;
}