body {
  width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./Fonts/Inter-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./Fonts/Inter-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('./Fonts/Inter-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: 'Inter-Regular';
  background-color: #fdfcfe;
  color: #181818;
  letter-spacing: 1.5px;
  justify-content: center;
}

/* .content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
} */
