.article-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  box-sizing: border-box;
}

.category {
  align-self: flex-start;
  padding-left: 16rem;
  margin-top: -4rem;
}
