
.category {
  margin-top: -4.6rem;
  margin-bottom: 2rem;
}

.category h1 {
  font-family: 'Inter-Bold';
  font-size: 1.5rem;
}

.category-btn {
  font-size: 1rem;
}

.end-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.end-msg {
  font-size: 1.3rem;
  font-family: 'Inter-Regular';
}
