body.no-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

@media (min-width: 1024px) {
  body.no-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.modal-container {
  display: flex;
  justify-content: center;
  background-color: rgba(32, 33, 36, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  align-items: center;
  overflow: hidden;
}

.modal-content {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.modal-main-contents {
  width: 48%;
  height: 48%;
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
}

.btn-wrapper {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  opacity: 0.6;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
}

.modal-text{
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.modal-source {
  background-color: transparent;
  font-size: 1.1rem;
}

.modal-title {
  font-size: 1.4rem;
  font-family: 'Inter-SemiBold';
  margin-top: -0.5rem;
}

.share {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.icon-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}