.home-container {
  padding: 0 9rem;
}


.text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.subheading {
  padding: 1rem 0;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: 'Inter-Bold';
}

.see-all {
  text-decoration: none;
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
  font-family: 'Inter-Regular';
}

.headline-col .title {
  font-family: 'Inter-Regular';
  font-weight: bold;
}

.headline-row {
  display: flex;
  gap: 1rem;
}

.headline-box {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.headline-box img {
  border-radius: 0.8rem;
  width: 50%;
  min-height: 100%;
  object-fit: cover;
}

.headline-box .article-details {
  background-color: rgb(246, 246, 246);
  width: 50%;
  border-radius: 0.8rem;
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.headline-box .title, .source {
  background-color: transparent;
}

.headline-box .source {
  font-size: 0.9rem;
  font-weight: bold;
}

.main-text-box {
  background-color: transparent;
}

.headline-box .title {
  font-size: 1.2rem;
}

.headline-box .preview {
  font-size: 0.9rem;
  background-color: transparent;
}

.headline-row {
  display: flex;
}

.headline-col {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.headline-col-box {
  display: flex;
}

.headline-col-box img {
  width: 7rem;
  height: 5.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.headline-col-box .article-details {
  vertical-align: top;
  padding: 0 1rem;
}

.headline-col-box .title{
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.headline-col-box .source{
  font-size: 0.7rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.article-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0.4rem rgba(210, 206, 206, 0.5);
  border-radius: 1rem;
}

.article-box img {
  width: 17rem;
  min-height: 13rem;
  background-color: rgb(226, 226, 226);
  border-radius: 1rem;
  border: 0;
  object-fit: cover;
}

.article-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 17rem;
  padding: 1rem 1rem;
}

.title {
  font-family: 'Inter-Bold';
  font-size: 1rem;
}

.source {
  font-size: 0.9rem;
}