.home-container {
  padding: 0 9rem;
}

.top-stories, .world-news, .political-news, .sports-news {
  margin-bottom: 1.5rem;
}

.header-line {
  height: 1.5px;
  width: 100%;
  background-color: #e2e1e1;
  margin-bottom: 1.5rem;
  margin-top: -0.3rem;
}

.text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subheading {
  padding: 1rem 0;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: 'Inter-Bold';
}

.see-all {
  text-decoration: none;
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
  font-family: 'Inter-Regular';
}

.headline-col .title {
  font-family: 'Inter-Regular';
  font-weight: bold;
}

.headline-row {
  display: flex;
  gap: 1.3rem;
}

.headline-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.headline-box img {
  border-radius: 0.5rem;
  width: 52%;
  object-fit: cover;
}

.headline-box .article-details {
  background-color: rgb(248, 248, 248);
  border-radius: 0.8rem;
  padding: 1.5rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.main-text-box, .headline-box .title, .source {
  background-color: transparent;
}

.headline-box .source {
  font-size: 0.9rem;
  font-weight: bold;
}

.headline-box .title {
  font-size: 1.2rem;
}

.headline-box .preview {
  font-size: 0.9rem;
  background-color: transparent;
}

.h_line {
  height: 1px;
  width: 100%;
  background-color: #e2e1e1;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

.headline-col {
  display: flex;
  flex-direction: column;
}

.headline-col-box {
  display: flex;
  gap: 1rem;
}

.headline-col-box img {
  width: 7rem;
  height: 5.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.headline-col-box .title{
  font-size: 0.8rem;
  line-height: 1.1rem;
  padding: 0.8rem 0;
}

.headline-col-box .source{
  font-size: 0.7rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.article-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.article-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.4rem rgba(210, 206, 206, 0.5);
  border-radius: 1rem;
  width: 100%;
}

.article-box img {
  width: 100%;
  max-height: 13rem;
  min-height: 13rem;
  background-color: rgb(226, 226, 226);
  border-radius: 0.5rem;
  object-fit: cover;
}

.article-row .article-details {
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 1rem 1rem;
}

.title {
  font-family: 'Inter-Bold';
  font-size: 1rem;
}

.source {
  font-size: 0.9rem;
}

.carousel-row {
  display: flex;
  gap: 1rem;
}

.article-grid {
  display: flex;
}

.grid-col {
  flex: 1;
}

.grid-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 8rem;
  gap: 1rem;
  width: 93%;
}

.grid-box .source {
  font-size: 0.75rem;
  padding: 0;
}

.grid-box .title {
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.grid-line {
  height: 1px;
  width: 90%;
  background-color: #e2e1e1;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.carousel-component {
  width: 45%;
}

.carousel-component img {
  width: 100%;
  height: 100%;
  height: 24rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.carousel-slide {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 100%; /* Ensure the slide takes up the full height */
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background: rgba(11, 11, 11, 0.6); /* Semi-transparent black background */
  color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

p {
  background-color: transparent;
}

.carousel-title {
  color: white;
  font-size: 1.2rem;
}

.carousel-source {
  color: white;
}

